<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${'name: ' + person.getName() + ', age: ' + person.getAge() + ', email: ' + person.getEmail()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>

<a th:href="@{/{id}/edit(id=${person.getId()})}">Редактировать</a>

<form th:method="DELETE" th:action="@{/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>